@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: #ffffff;
}
.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}
section {
  position: absolute;
  justify-content: center;
  align-items: center;
}
