@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: #fff1b5;
  background: radial-gradient(circle, #00a0a0, #00a0a0, #00a0a0);
}
.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}
